[v-cloak] {
    display: none !important;
}

body {
    background-image: radial-gradient(#1a1a1a 1px, transparent 0);
    background-size: 24px 24px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0);
}
