body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #a8d5ff;
    color: #000;
}

.neu-brutal {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    border: 3px solid black;
}

.neu-brutal:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.list-container {
    max-height: 200px;
    overflow-y: auto;
}
